{% extends 'base.html' %}
{% load static %}
{% block title %} Homepage {% endblock title %}
{% block content %}
{% load thumbnail %}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for blog in page_obj %}
                    <article class="blog_item">
                    <div class="blog_item_img">
                        {% thumbnail blog.image 750x400 crop as thumb %}
                        <img class="card-img rounded-0" src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" alt="">
                            <a href="{% url 'single_blog' blog.id %}" class="blog_item_date">
                                <h3>{{blog.created_at}}</h3>
                            </a>
                    </div>

                    <div class="blog_details">
                        <a class="d-inline-block" href="{% url 'single_blog' blog.id %}">
                            <h2>{{blog.title}}</h2>
                        </a>
                        <p>{{blog.text_slug}}</p>
                        <ul class="blog-info-link">
                            <li>
                                <a href="{% url 'user_profile_page' blog.author.user.username %}"><i class="far fa-user"></i> {{blog.author.user.get_full_name}}</a>
                            </li>
                            <li><a href="{% url 'single_blog' blog.id %}"><i class="far fa-comments"></i> {{blog.comments.all.count}} Comments</a></li>
                            <li><a href="{% url 'single_blog' blog.id %}">
                                {% if profile.id in blog.likes %}
                                <i class="far fa-heart" style="color: red;"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                                {{blog.likes|length}} People like this</a></li>
                        </ul>
                        <!-- Теги -->
                        {% with names=blog.tags.names %}
                        {% if names.count > 0 %}
                        <div class="d-sm-flex justify-content-between text-center">
                        <ul class="blog-info-link">
                        {% for name in names %}
                        <li><a href="/?filter_by_tag={{name}}">{{name}}</a></li>
                        {% endfor %}
                        </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    </article>
                    {% endfor %}

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}{{get_params}}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <li class="page-item disabled">
                                <a href="?page={{i}}{{get_params}}" class="page-link" style="border: 1px solid #B08EAD;">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{i}}{{get_params}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li> -->
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}{{get_params}}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
            {% include 'partials/_rightsidebar.html' %}
        </div>
    </div>
</section>
{% endblock content %}