{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title%} | Contact {% endblock title %}
{% block content %}


<section class="contact-section section_padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Contact with us</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="{% url 'contact_page' %}" method="POST" novalidate="novalidate">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  {% render_field form.message %}
                  <!-- <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {% render_field form.name  %}
                  <!-- <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name"> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {% render_field form.email  %}
                  <!-- <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address"> -->
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  {% render_field form.subject  %}
                  <!-- <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject"> -->
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <p style="text-align: center"><button>Send</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Sochi, Russia.</h3>
              <p>Navaginskaya str, CA 666/13</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+7922 16 30 991</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@blogit.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}