
.icon-excel {
background-image: url("/home/podg1k/blogit-project/blogitproject/static/img/tumblr_inline_nvdlubkMTS1tve1zn_500.gif");
padding-left : 32px;
padding-top : 10px;
padding-bottom : 10px;
background-repeat : no-repeat;
}