{% extends 'base.html' %}
{% load static %}
{% block title %} | {{blog.title}} {% endblock title %}
{% block content %}
<!-- breadcrumb part start-->

<a href="{% url 'single_blog' blog.id %}"
class="blog_item_date"></a>
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>{{blog.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_padding">
  <div class="container">
     <div class="row">
        <div class="col-lg-8 posts-list">
           <div class="single-post">
              <div class="feature-img">
                 <img class="img-fluid" src="{{blog.image.url}}" alt="">
              </div>
              <div class="blog_details">
                 <h2>{{blog.title}}
                  {% if user.id == blog.author.user.id %}
                     (<a href="{% url 'edit_blog' blog.id %}" method="POST" enctype="multipart/form-data"><i class="far fa-edit"></i> Edit</a>)
                     {% csrf_token %}
                     {% endif %}
                 </h2>
                 <ul class="blog-info-link mt-1 mb-1">
                    <!-- <li><p><i class="far fa-user"></i> Travel, Lifestyle</p></li> -->
                    <li><p><i class="far fa-calendar"></i> {{blog.created_at}} </p></li>
                 </ul>
                 <p class="excert">
                    {{blog.text|linebreaks}}
                 </p>
              </div>
           </div>
           <div class="navigation-top">
              <div class="d-sm-flex justify-content-between text-center">
                <p class="like-info" style="cursor: pointer;" onclick="addOrRemoveLike({{blog.id}});">
                   <span class="align-middle">
                       {% if profile.id in blog.likes %}
                       <i id="likeColor" class="far fa-heart" style="color: red;"></i>
                       {% else %}
                       <i id="likeColor" class="far fa-heart"></i> {% endif %}
                    </span> 
                 <span id="numLikes">{{blog.likes|length}}</span> people like this
                </p>
                 <div class="col-sm-6 text-center my-0 my-sm-0">
                    <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> {{blog.comments.all.count}} Comments</p>
                 </div>
              </div>
              <!-- Теги -->
              {% with names=blog.tags.names %}
              {% if names.count > 0 %}
              <div class="d-sm-flex justify-content-between text-center">
              <ul class="blog-info-link">
              {% for name in names %}
              <li><a href="#">{{name}}</a></li>
              {% endfor %}
              </ul>
              </div>
              {% endif %}
              {% endwith %}
           </div>
           <div class="blog-author">
              <div class="media align-items-center">
                 <img src="{{blog.author.profile_image_thumbnail.url}}" alt="">
                 <div class="media-body">
                    <a href="#">
                       <h4>{{blog.author.user.get_full_name}}</h4>
                    </a>
                    <p>{{blog.author.about}}</p>
                 </div>
              </div>
           </div>
           <div class="comments-area">
              <h4> Comments</h4>
              {% for comment in blog.comments.all %}
              <div class="comment-list">
                 <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                       <div class="thumb">
                          <img src="{{comment.author.profile_image_thumbnail.url}}" alt="">
                       </div>
                       <div class="desc">
                          <p class="comment">
                             {{comment.text|linebreaks}}
                          </p>
                          <div class="d-flex justify-content-between">
                             <div class="d-flex align-items-center">
                                <h5>
                                   <a href="#">{{comment.author.user.get_full_name}}</a>
                                </h5>
                                <p class="date">{{comment.created_at}}</p>
                                {% if user.id == comment.author.user.id %}
                                 <p><a href="{% url 'delete_comment' blog.id comment.id %}" class="ml-2"><span style="color: red;">X</span></a></p>
                                {% endif %}
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              {% endfor %}       
           <div class="comment-form">
              <h4>Leave a Comment</h4>
              <form class="form-contact comment_form" action="{% url 'leave_comment_to_blog' blog.id %}" method="POST" id="commentForm">
                  {% csrf_token %}
                 <div class="row">
                    <div class="col-12">
                       <div class="form-group">
                          <textarea name="text" class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                             placeholder="Write Comment"></textarea>
                       </div>
                    </div>
                 </div>
                 <div class="form-group mt-3">
                    <button type="submit" class="genric-btn success radius">отправить комментарий</button>  
                 </div>
              </form>
           </div>
        </div>
        </div>
        <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>21</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Health Care (21)</p>
                                    <p>09</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_2.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_3.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
     </div>
  </div>
</section>
<!--=======xw=========Blog Area end =================-->
{% endblock content %}
